#box
{
    background-image: url("back.jpg");
    height: 300px;
    background-size: 100%;
}
#contain
{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h3
{
    font-size: 45px;
    font-family: Impact;
    color: black;
}